
.button {
    width: 97px;
    height: 48px;
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    text-align: center;
}
.button.primary {
    background-color: #1A1A1A;
    color: #fff;
    border: 1px solid #1A1A1A;
}
.button.primary:hover {
    background-color: #666666;
    color: #fff;
    border: 1px solid #666666;
}



.button.secondary {
    background-color: #fff;
    color: #1A1A1A;
    border: 1px solid #F2F2F2;
}
.button.secondary:hover {
    background-color: #F2F2F2;
    color: #1A1A1A;
    border: 1px solid #F2F2F2;
}
